<% include('../layouts/header.ejs'); %>
    <%- include('../layouts/style.ejs'); %>
        <%- include('../layouts/homestyle.ejs'); %>
            
            <header id="menu">
                <div class="container">
                    <h1
                        style="color: #303030; text-transform: uppercase; letter-spacing: 5px; font-size: 2rem; font-weight: bolder; margin-bottom: 0px;">
                        Brand<br><span
                            style="color: #14dbe3; font-size: 1rem; letter-spacing: 8px; font-weight: bolder;">Monitor</span>
                    </h1>
                    <div class="navbar">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </header>
            <main>

                <section id="section-dashboard" class="section-container">
                    
                    <div class="dash-box">
                        <h3>DASHBOARD</h3>
                    </div>

                    <div class="container">

                        <table class="table-box">
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Idade</th>
                                <th>Ação</th>
                            </tr>
                            <!--  -->

                            <% if(user.length> 0){

                                for(let i=0; i<user.length; i++){
                                 %>
                                    <tr>
                                        <td> <%= user[i].name %></td>
                                        <td><%= user[i].email %></td>
                                        <td  class="text-direction"><%= user[i].birthday %></td>
                                        <td class="align-flex">
                                            <a href="/delete-user?id=<%= user[i]._id %>" class="delete-btn">Excluir</a>
                                            
                                        </td>
                                    </tr>
                                 <%
                                }
                            }else {
                                %>
                                    <tr> <td colspan="5">Usuário não encontrado</td> </tr>
                                <% 
                            } 
                                %>
                         
                                    
                        </table>

                    </div>

                </section>
            </main>
            <%- include('../layouts/dataformat.ejs'); %>
            <% include('../layouts/footer.ejs') %>