<% include('../layouts/header.ejs'); %>
    <%- include('../layouts/style.ejs'); %>
        <%- include('../layouts/homestyle.ejs'); %>

            <header id="menu">
                <div class="container">
                    <h1
                        style="color: #303030; text-transform: uppercase; letter-spacing: 5px; font-size: 2rem; font-weight: bolder; margin-bottom: 0px;">
                        Brand<br><span
                            style="color: #14dbe3; font-size: 1rem; letter-spacing: 8px; font-weight: bolder;">Monitor</span>
                    </h1>
                    <div class="navbar">
                        <ul>
                            <li><a href="/home">Home</a> </li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </header>
            <main>

                <section id="section-edit" class="section-container">
                    <div id="user-perfil" class="perfil-box">
                        <h3>Olá, <%= user.name %>
                                <%= user.lastName %>
                        </h3>
                    </div>
                    <div class="container">
                        
                        <form id="edit-form" action="/edit" method="POST">
                            <input type="hidden" name="_id" value="<%= user._id %>">
                            <input type="text" name="name" value="<%= user.name %>" placeholder="Enter Name" required>
                            <br>
                            <input type="text" name="lastName" value="<%= user.lastName %>" placeholder="Enter Name" required>
                            <br>
                            <input type="date" name="birthday" value="<%= user.birthday %>" placeholder="Enter Name" required>
                            <br>
                            <select type="text" name="gender" value="<%= user.gender %>" required>
                                <option value="Masculino" <%= user.gender == 'Masculino' ? 'selected' : ''%>>Masculino</option>
                                <option value="Feminino" <%= user.gender == 'Feminino' ? 'selected' : ''%>>Feminino</option>
                                <option value="Outro" <%= user.gender == 'Outro' ? 'selected' : ''%>>Não informar</option>
                            </select>
                            <br>

                            <input class="btn-style" type="submit" value="Salvar alterações">
                        </form>
                    </div>
                </section>
            </main>
            <% include('../layouts/footer.ejs') %>